{% extends 'main.html' %}
{% load static %}
{% block content %}
<link href="{% static 'css/cartmain.css' %}" rel="stylesheet">
<link href="{% static 'css/checkout.css' %}" rel="stylesheet">
<div class="container" data-aos="fade-up ">
    <div class="checkout">
        <div class="row">
            <div class="col-lg-6 mt-5 pt-5">
                <div class="box-element" id="form-wrapper">
                    <form id="form">
                        <div id="shipping-info">
                            <hr>
                            <p>Shipping Information:</p>
                            <hr>
                            <div class="form-field">
                                <input class="form-control" type="text" name="address" placeholder="Address..">
                            </div>
                            <div class="form-field">
                                <input class="form-control" type="text" name="city" placeholder="City..">
                            </div>
                            <div class="form-field">
                                <input class="form-control" type="text" name="state" placeholder="State..">
                            </div>
                            <div class="form-field">
                                <input class="form-control" type="text" name="zipcode" placeholder="Zip code..">
                            </div>
                            <div class="form-field">
                                <input class="form-control" type="text" name="country" placeholder="Zip code..">
                            </div>
                        </div>

                        <hr>
                        <input id="form-button" class="btn btn-success btn-block" type="submit" value="Place Order">
                    </form>
                </div>
                <br>
            </div>

            <div class="col-lg-6 mt-5 pt-5">
                <div class="box-element mt-3 ">
                    <a class="btn btn-outline-dark" href="{% url 'Cart' %}">&#x2190; Back to Cart</a>
                    <hr>
                    <h3>Order Summary</h3>
                    <hr>
                    {% for item in items %}
                    <div class="cart-row">
                        <div style="flex:2"><img class="cart-img" src="{{item.dish.image.url}}"></div>
                        <div style="flex:2">
                            <p>{{item.dish.name}}</p>
                        </div>
                        <div style="flex:1">
                            <p>{{item.quantity}}</p>
                        </div>
                        <div style="flex:1">
                            <p>₹{{item.dish.price|floatformat:2}}</p>
                        </div>
                    </div>
                    {% endfor %}
                    <h5>Total: ₹{{order.get_Cart_total|floatformat:2}}</h5>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}