{% extends 'main.html' %}
{% load static %}

{% block content %}
    
    <div class="container aos-init aos-animate">
        <div class="section-title mt-5">
            <h1>Login</h1>
        </div>
    {% for message in messages %}
    <div id = "messages" class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
        <strong>Message : </strong> {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}    
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3 row">
            <label for="username" class="col-sm-2 col-form-label">Username</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="Email"
                    name = "username">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPassword" name = "password">
            </div>
        </div>
        <center>
            <button type="submit" class="btn btn-primary">Submit</button>
        </center>
    </form>
    <div>
    <center>
        <p class="pt-2">Don't have an account?
            <a href="{% url 'SignUp' %}" class="">Sign Up</a>
        </p>
    </center>
    </div>
</div>
{% endblock %}