{% extends 'main.html' %}
{% load static %}
{% block  content %}

    {% for messge in messges %}
    <div class="alert alert-{{messge.tags}} alert-dismissible fade show" role="alert">
        <strong>Messge : </strong> {{messge}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    <div class="container aos-init aos-animate">
        <div class="section-title" id= "Signup" >
            <h1>Sign Up</h1>
        </div>
    
    <form action="" method="POST" role="form" class="django" data-aos="fade-up" data-aos-delay="100">
        {% csrf_token %}
        <div class="row pt-4">
            <div class="row-lg-4 row-md-5 mt-3 mt-md-3 ">
        {{form.first_name.label}}
        {{form.first_name}}
            <div class="validate"></div>
        </div>
        <div class="row-lg-4 row-md-6  mt-3 mt-md-3">
        {{form.last_name.label}}
        {{form.last_name}}
            <div class="validate"></div>
        </div>
        <div class="row-lg-4 row-md-6  mt-3 mt-md-3">
        {{form.username.label}}
        {{form.username}}
        </div>
        <div class="row-lg-4 row-md-6  mt-3 mt-md-3">
        {{form.email.label}}
        {{form.email}}
        </div>
        <div class="row-lg-4 row-md-6  mt-3 mt-md-3">
        {{form.MobileNo.label}}
        {{form.MobileNo}}
        </div>
        <div class="row-lg-4 row-md-6  mt-3 mt-md-3">
        {{form.password1.label}}
        {{form.password1}}
        </div>
        <div class="row-lg-5 row-md-6  mt-3 mt-md-3">
        {{form.password2.label}}
        {{form.password2}}
        </div>
        <div class="text-center pt-3">
        <button type="submit" class="btn btn-primary">Submit</button>
        {{form.errors}}
        </div>
    </form>
    <div>
        <p class="">Don't have an account? 
        <a href="{% url 'login' %}" class="">Login</a></p>
    </div>
</div>
{% endblock content %}